html, body{
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.carousel-item img{
    width: 100%;
    height: 600px;
}
span.float-left i.fa {
    color: #d9ba79 !important;
    font-weight: bolder;
    font-size: 16px;
    /* margin-left: 10px; */
}
form label {
    color: #d9ba79 !important;
}
form input {
    background-color: #f1f1f1 !important;
}
.invoice-header{
    margin-top: 70px;
    margin-left: 50px;
}
.invoice-header h4, .invoice-header h6{
    float: right;
}

.invoice_footer{
    float: right;
}

.idcard-div{
    margin-left: 130px;
    /* margin-top: 40px; */
}

/* front page */

div#gallery{
    background-color: #fff;
    margin-top: 10px;
    padding: 30px;
}

div.gallery {
    /* margin: 2px; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* float: left; */
    /* width: 180px; */
  }
  
  div.gallery img:hover {
    /* border: 1px solid #777; */
    opacity: .5;
  }
  
  div.gallery img {
    width: 100%;
    border: 2px solid #145251;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.header-ims{
    height: 80px;
    /* position: fixed; */
    background-color: #fff;
}
.logo-header img{
    width: 11%;
}
.logo-header h3{
    margin-left: 80px;
    margin-top: -50px;
    color: #145251;
}
.links-header ul{
    /* display: inline-block !important; */
    float: right;
}

.mngdiv{
    height: 90px;
    width: 100%;
    background-color: #fff;
    position: relative;
}
.mngtext{
    padding: 30px;
    color: #145251;
}
.teamdiv{
    height: 400px;
    background-color: #d9ba79;
}
.dropdown-menu{
    background-color: #fff;
}

.links-header ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

.links-header ul li a{
    text-decoration: none;
    color: #145251;
    font-weight: 600;
}
.links-header ul li a:hover{
    color: #d9ba79;
}
.hero-slider{
    /* height: 650px !important; */
    background-color: #d9ba79;
    /* background-image: url('../img/loginhero.jpg'); */
    /* background-size: cover; */
}
.carousel{
    margin: 0px !important;
}
.carousel-inner{
    height: 580px !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
div.hero-text{
    margin-top: 200px;
}
.about-section{
    height: 300px;
    background-color: #fff;
}
/** default and google theme **/
.selectstyle{position:relative;}
.ss_dib{display:inline-block;vertical-align:top;}
.ss_button{margin:0;vertical-align:top;color:#595959;border: 1px solid #cbcbcb;border-radius:3px;width:250px;cursor:pointer;text-decoration:none;background:none;padding:10px;overflow:hidden;clear:both;display:inline-block;vertical-align:top;font-size:12px;font-weight:bold;word-break:break-all;}
.ss_text{white-space:normal;text-overflow:ellipsis;text-indent:0;white-space:nowrap;overflow:hidden;}
.ss_image{position:absolute;width:7px;height:11px;background:url('../images/google.png') no-repeat;}
.ss_ul{list-style:none;padding:8px 0; margin:0; margin-top:-35px;position:absolute;background:#fff;border:1px solid #ccc;-moz-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);box-shadow:0 1px 5px 1px rgba(0,0,0,0.1); border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; display:none;overflow:auto;z-index:100;}
.ss_ulsearch{margin:0; margin-top:-35px;position:absolute;background:#fff;border:1px solid #ccc;-moz-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);box-shadow:0 1px 5px 1px rgba(0,0,0,0.1); border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;overflow:auto;z-index:100;display:none;}
.ss_ulsearch .ss_ul{display:block;position:relative;margin-top:0;border:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.ss_ulsearch .search{border-bottom:1px solid #ccc;padding:0;}
.ss_ulsearch .search input{background:inherit;border:none;height:100%;padding:10px 15px;outline:none;font-size:14px;width:calc(100% - 30px);width:-webkit-calc(100% - 30px);width:-moz-calc(100% - 30px);width:-o-calc(100% - 30px);background:url('../images/ful_grid_img.png') no-repeat;background-position: top 8px right 6px;}
.ss_ulsearch .search input:focus{outline:none;}
.ss_ulsearch .nosearch{text-align:center;font-size:12px;padding-bottom:10px;background:#fff;}
.ss_ul li{padding:10px 15px;cursor:pointer;border:none;text-align:left;color:#595959;transition-duration:.3s;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.3s;font-size:14px;}
.ss_ul li:hover{border:none;background:#eee;}
.ss_ul li .ssli_text{vertical-align:top;display:inline-block;}
.ss_ul li .ssli_image{display:inline-block;width:16px;height:16px;margin-right:10px;margin-top:-1px;vertical-align:top;}
.ss_ul li .ssli_image img{width:16px;height:16px;}
.ss_ul::-webkit-scrollbar {width:10px;}
.ss_ul::-webkit-scrollbar:horizontal{height:10px;}
.ss_ul::-webkit-scrollbar-track {border-left:1px solid #D3D3D3;background:#F5F5F5;}
.ss_ul::-webkit-scrollbar-thumb {background:#C4C4C4;}


/** Dark theme **/
.selectstyle.dark{position:relative;}
.selectstyle.dark .ss_button{color:#eee;border: 1px solid #ccc;background:#5B5B5B;}
.selectstyle.dark .ss_image{width:16px;height:16px;background:url('../images/br_down.png') no-repeat;margin-left:-8px;margin-top:-2px;}
.selectstyle.dark .ss_ul{background:#777;border-color:#333;-moz-box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);-webkit-box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);}
.selectstyle.dark .ss_ulsearch .ss_ul{display:block;position:relative;margin-top:0;border:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.selectstyle.dark .ss_ulsearch{background:#5B5B5B;border-color:#333;-moz-box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);-webkit-box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);box-shadow:0 1px 5px 1px rgba(255,255,255,0.15);}
.selectstyle.dark .ss_ulsearch .search{border-bottom-color:#333;}
.selectstyle.dark .ss_ulsearch .search input{background:url('../images/search.png') no-repeat;background-position: top 8px right 6px;background-size:24px 24px;color:#eee;}
.selectstyle.dark .ss_ulsearch .nosearch{background:#777;}
.selectstyle.dark .ss_ul li{color:#ddd;}
.selectstyle.dark .ss_ul li:hover{border:none;background:#444;color:#eee;}
.selectstyle.dark .ss_ul::-webkit-scrollbar-track {border-left:1px solid #333;background:#888;}
.selectstyle.dark .ss_ul::-webkit-scrollbar-thumb {background:#5B5B5B;}

.text-ims-default{
    color: #145251 !important;
}
.ims-bg-gradient{
    background: linear-gradient(to bottom, rgba(0, 73, 73, 0.6) 0%, rgba(0, 73, 73, 0.6) 100%)
}
.text-ims-orange{
    color: #d9ba79 !important;
}
.ims-bg-green{
    background-color: #145251 !important;
}
.ims-bg-orange{
    background-color: #d9ba79 !important;
}

.btn-ims-green{
    color: #fff !important;
    background-color: #145251 !important;
}
.btn-ims-orange{
    color: #fff !important;
    background-color: #d9ba79 !important;
}

.background-img{
    position: absolute;
    top: 300px;
    left: 450px;
    opacity: 0.6;
    /* height: 200px; */
}
.background-img-finance{
    position: absolute;
    top: 450px;
    left: 490px;
    opacity: 0.6;
}

.background-img-bio-data{
    position: absolute;
    top: 230px;
    left: 155px;
    opacity: 0.6;
    width: 20%;
}

.background-img-result{
    position: absolute;
    top: 250px;
    left: 200px;
    opacity: 0.6;
    width: 50%;
}

.background-img-receipt{
    position: absolute;
    width: 10%;
}
.background-img-biodata{
    position: absolute;
    width: 30%;
    opacity: 0.6;
    left: 250px;
    top: 170px;
}
.background-img-gradeform{
    position: absolute;
    width: 30%;
    opacity: 0.6;
    left: 250px;
    top: 170px;
}
.login-body{
    background-image: url('../img/loginhero.jpg');
    background-size: cover;
}
.login-form-teacher{
    padding: 20px !important;
    background-color: rgba(225, 225, 225, 0.4) !important;
}
.online-reg-form{
    height: auto;
    margin-top: -150px !important;
    border-radius: 5px;
    background-color: #fff;
    /* background-color: #fff; */
}
.online-reg-form h3{
    /* padding: 20px; */
    text-transform: uppercase;
}
.online-form label{
    text-transform: uppercase;
    color: #145251;
}
.online-form input{
    height: 50px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
}
.main-login {
    height: 400px;
    /* background-color: rgba(98, 158, 155, 0.4); */
    position: relative;
    left: 750px;
    top: 100px;
    border: none !important;
    /* border: 2px solid #fff; */
}
.login-header {
    width: 100%;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: #00ac4d;
}
.login-header p {
    font-size: 24px;
}
.login-header p strong {
    font-size: 28px;
}
.login-header p span {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.login-form {
    padding: 20px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: rgba(225, 255, 255, 0.4) !important;
}
.admin-login{
    background-color: rgba(255, 255, 255, 0.4) !important;
}
.student-login{
    background-color: rgba(255, 255, 255, 0.4) !important;
}
.login-form div.input-group {
    margin-bottom: 50px !important;
}
span.input-group-text {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #00ac4d;
}
.login-form div.input-group input {
    height: 50px;
    border-radius: 20px;
    /* border: none !important; */
    /* border: 1px solid rgba(98, 158, 155, 0.4); */
}
.login-logo{
    width: 30% !important;
    margin-left: 100px;
    margin-bottom: 10px;
}
.btn-login {
    background-color: #00ac4d;
    width: 100%;
    color: #fff;
    border-radius: 20px;
}
.forget-password-div {
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
p.forget-password-text {
    font-size: 18px;
    /* text-transform: uppercase; */
}
p.forget-password-text a {
    text-decoration: none;
    color: #fff;
}

/* dashboard styles */

.assign-role-form{
    padding: 30px;
}
.assign-role-form div.form-group{
    margin-bottom: 30px;
}

.dashboard-overlay {
    background-color: #fff;
    /* width: 100%; */
    padding: 0;
    overflow-y: scroll;
    /* overflow-x: hidden;
    overflow: auto !important; */
    position: relative;
    /* height: 100%; */
}
.header-dashboard{
    height: 70px;
    width: 100%;
    background-color: #145251;
}
.footer-dashboard{
    height: 70px;
    width: 100%;
    margin-top: 60px;
    background-color: #d9ba79 !important;
}
.user-info{
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-text{
    padding: 20px;
}
.user-info h4{
    text-transform: uppercase;
}
.user-info h5{
    text-transform: uppercase;
}
/* .user-info img{
    width: 70%;
} */
.main-div {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    overflow: hidden;
}
.upload-book-form{
    margin-top: 20px;
    padding: 30px;
    /* margin-left: 380px; */
    text-align: center;
    /* background-color: rgba(134, 134, 134, 0.1); */
    border-radius: 5px;
}
/* .form-icon{
    position: absolute;
} */
.upload-book-form input{
    margin-bottom: 10px;
}
.upload-book-form button{
    margin-top: 10px;
}
.sidebar-div {
    padding: 0;
}

.new-book-div{
    height: 100%;
    /* position: fixed; */
    padding: 10px;
}

.ims-sidebar {
    height: 100vh;
    background-color: #145251;
    /* border-right: 2px solid #00ac4d; */
    padding-right: 0 !important;
    /* margin-left: -12px; */
    /* border-top-right-radius: 30px; */
}
.ims-dashboard {
    background-color: #fff;
}
.sidebar-header {
    width: auto;
    height: 60px;
    background-color:#145251;
    /* border-bottom: 1px solid #d9ba79; */
    text-align: center;
}
.sidebar-header h5 {
    padding-top: 18px;
    font-weight: 600;
    color: #d9ba79;
}
.sidebar-links {
    height: auto;
    width: auto;
    display: block;
}

.sidebar-links ul {
    list-style: none !important;
    width: 100%;
    height: auto;
    background-color: #145251 !important;
    /* text-align: center; */
    border-radius: 0 !important;
    margin-left: 10px;
}

.sidebar-links ul li {
    /* margin-bottom: 20px; */
    margin-top: 5px;
    border: none !important;
    /* display: block; */
    cursor: pointer;
    background-color: #145251;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-links ul li span.link-name a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    /* font-size: 13.2px !important; */
    /* background-color: blue; */
    width: 100%;
}
.sidebar-links ul li span.link-name a:hover {
    color: #d9ba79;
}

.modalOpen {
    margin-top: 100px;
    margin-left: 200px;
}

.dashboard-header {
    height: 60px;
    width: 100%;
    background-color: #145251 !important;
    border-bottom: 1px solid #fff;
    /* margin-left: -12px; */
}
.username-div {
    /* background-color: #fff; */
    height: auto;
    padding: 20px;
}
.username-div p.username-text {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.username-div .username-text span {
    font-weight: bold;
    color: rgb(255, 193, 7) !important;
    text-transform: uppercase;
}
.header-btn {
    height: auto;
    padding: 20px;
    float: right;
}

.header-btn li {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}
.header-btn li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.header-btn li a:hover {
    color: #d9ba79;
}

.dashboard-card {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 30px;
    /* background-image: url('../img/logo.jpg') */
}
.dashboard-card:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 191, 94, 0.2), 0 6px 20px 0 rgba(255, 161, 73, 0.19);
    cursor: pointer;
}
.student-list{
    height: 100%;
    width: 80%;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
}
.student-list-div-main{
    /* margin-left: -30px; */
    box-shadow: 0 4px 8px 0 rgba(0, 78, 59, 0.5), 0 6px 20px 0 rgba(0, 78, 59, 0.19);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    width: 80%;
    overflow: scroll;
    /* overflow-x: scroll; */
    position: fixed;
}
.student-list-div-main table{
    width: 100% !important;
    padding: 20px;

}
.student-list-div{
    margin-left: -30px;
    height: 100%;
    width: 85%;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
}
.student-list-div-2{
    /* margin-left: -30px; */
    height: 100%;
    /* width: 85%; */
    margin-left: 150px;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
}

.static-invoice{
    box-shadow: 0 4px 8px 0 rgba(0, 78, 59, 0.5), 0 6px 20px 0 rgba(0, 78, 59, 0.19);
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
    width: 54%;
    margin-left: 362px;
}

.generate-receipt{
    box-shadow: 0 4px 8px 0 rgba(0, 78, 59, 0.5), 0 6px 20px 0 rgba(0, 78, 59, 0.19);
    border-radius: 20px;
    height: 100%;
    width: 28%;
    overflow-y: scroll;
    overflow-x: scroll;
    position: fixed;
    margin-left: -30px;
}
.generate-receipt form label{
    color: #d9ba79;

}

.student-list-div-3{
    /* margin-left: -30px; */
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: scroll;
    /* position: fixed; */
}
.student-list-div-default{
    /* margin-left: -30px; */
    height: 100%;
    width: 80%;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
}
.result-list-div{
    height: 100%;
    width: 80%;
    overflow: scroll;
    overflow-x: scroll;
    position: fixed;
}
#show_all_students table{
    margin-left: -20px;
    /* background-color: #d9ba79; */
}
.card-icon {
    height: 130px;
    background-color: transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.card-icon i {
    text-align: center;
    margin-top: 35px;
}
.card-text {
    height: 130px;
    background-color: transparent;
    color: #145251;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.card-text p.number-text {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}
.card-text p.number-total {
    font-size: 26px;
    font-weight: lighter;
}
.card-header h3{
    color: #145251 !important;
}
.breadcrumbs {
    height: 40px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.breadcrumbs-text {
    font-size: 18px;
    color: #00ac4d;
    padding: 5px;
    margin-left: 15px;
    font-stretch: extra-expanded !important;
}
.data-div {
    position: relative;
    /* margin-top: 50px; */
}
.data-table {
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 20px;
    /* margin-top: 100px; */
    /* position: absolute; */
    overflow: auto;
}
.dataTables_wrapper {
    padding: 20px;
    /* position: absolute; */
    /* margin-top: 50px; */
}
a.paginate_button.current {
    background-color: #145251 !important;
    color: #fff !important;
}

.data-table thead {
    background-color: #00550a;
    color: #fff;
    text-align: center;
    /* font-weight: lighter !important; */
}
.data-table thead th {
    font-weight: 400;
}
.form-div {
    /* overflow: auto; */
    position: relative;
}

.form-header {
    padding-bottom: 20px;
    color: #00ac4d;
}

.reg-form{
    position: fixed;
    overflow: scroll;
    height: 100%;
    /* border: 2px solid #145251; */
    box-shadow: 0 4px 8px 0 rgba(0, 78, 59, 0.5), 0 6px 20px 0 rgba(0, 78, 59, 0.19);
    border-radius: 10px;
    /* width: 80%; */
    /* margin: 20px; */
    margin-left: 100px;
    padding: 20px;
}
.reg-form label{
    text-transform: uppercase;
    font-size: 14px;
    color: #d9ba79;
    font-weight: bolder;
}

.reg-modal-form input.form-control, .reg-modal-form select.form-control{
    height: 45px;
    margin-bottom: 20px;
}

.reg-modal-form .btn{
    width: 100%;
}

.reg-form input.form-control, .reg-form select.form-control {
    height: 45px;
    /* border-radius: 10px; */
    /* border: 1px solid #145251; */
    margin-bottom: 20px;
}
.reg-form .btn {
    width: 100%;
}
.grade-form{
    padding: 50px;
}
.grade-form label{
    color: #d9ba79;
    padding: 10px;
}
.grade-form input.form-control, .grade-form select.form-control{
    height: 45px;
    /* border-radius: 10px; */
    /* border: 1px solid #145251; */
    margin-bottom: 20px;
}
.grade-btn{
    width: 100%;
}
.modal-edit-form input.form-control {
    height: 45px;
    border-radius: 10px;
    border: 1px solid #00ac4d;
    margin-bottom: 20px;
}
.modal-edit-form .btn {
    width: 100%;
}

.action-btn {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.action-btn li {
    display: inline-block;
    text-decoration: none;
}
div.modal {
    width: 100% !important;
}
.delete-prompt {
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 230px;
    margin-top: 150px;
}
.prompt-text {
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

.enroll-btn-div button{
    height: 100px !important;
    padding: 20px;
    text-align: center;
    margin-top: 150px;
    margin-left: 400px;
}
.grading-container{
    position: fixed;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 120px;
    margin-top: 20px;
    overflow-y: scroll;
    height: 100%;
    z-index: 999;
    /* display: none; */
}
.logo-gradeform{
    width: 10%;
}
div.modal-color{
    background-color: #fff;
    height: 900px;
    /* background-image: url('../img/logo.jpg'); */
}

.result-div{
    display: block;
    margin-top: 20px;
    margin-left: 120px;
    /* margin-bottom: 50px; */
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 50px);
}

.result-body{
    /* margin-top: -50px; */
}

.result-header{
    text-align: center;
}
.result-header h3{
    font-stretch: wider !important;
}
.result-remarks h6{
    margin-top: 20px;
    margin-bottom: 30px;
}
.result-header img{
    width: 15%;
}
h6.student-name{
    text-transform: uppercase;
}
h6 span{
    margin-left: 40px;
}
#result-table-div{
    margin-left: 70px;
}
#checkout-form{
    text-align: center;
}
#checkout-form input{
    margin-bottom: 10px;
}
.finance_div div.col-md-5{
    padding: 10px;
}
.finance_div div.col-md-5:hover{
    box-shadow: 0 4px 8px 0 rgba(113, 255, 108, 0.2), 0 6px 20px 0 rgba(101, 255, 127, 0.19);
    cursor: pointer;
    background-color: #d9ba79;
}
.finance_div div.col-md-5 h4{
    padding: 10px;
    font-weight: 400;
}
.finance_div div.col-md-5 h4 span{
    font-size: 18px;
    font-weight: bold;
}
.receipt-div{
    padding: 20px;;
    margin-top: 30px;
    margin-left: 180px;
    /* box-shadow: 0 4px 8px 0 rgba(113, 255, 108, 0.5), 0 6px 20px 0 rgba(101, 255, 127, 0.5); */
    height: 100%;
}
.print-btn{
    padding: 20px;
}
/* .bio-data-row {
    overflow: auto !important;
} */
.bio-data-row div.col-md-4, .bio-data-row div.col-md-7{
    margin-left: 30px;
    /* height: 300px; */
}
.bio-data-row div.col-md-7{
    height: 570px !important;
    overflow: auto !important;
}
.bio-data-div{
    padding: 20px;;
    margin-top: 10px;
    /* margin-left: 180px; */
    box-shadow: 0 4px 8px 0 rgba(16, 160, 153, 0.1), 0 6px 20px 0 rgba(16, 166, 153, 0.2);
}
.bio-data-div div h6{
    color: #145251;
    font-weight: 200 !important;
}
.bio-data-div div p{
    font-weight: 300;
}
.avatar-div img{
    width: 40%;
}
.avatar-div h4{
    color: #145251;
}
.bio-data-form{
    text-align: center;
    position: relative;
    height: auto;
    /* padding: 20px; */
}
.bio-data-form label{
    color: #145251;
    /* display: none; */
}
.bio-data-form div.form-group.col-md-4{
    margin-left: 70px;
    margin-top: 5px;
}
#save-btn-bio-data{
    width: 100%;
    margin-top: 10px;
    /* margin: 10px; */
}
.bio-data-img{
    margin-left: 1px;
    margin-top: 80px;
}
.bio-data-img div.col-md-3{
    height: 90px;
    background-color: #145251;
    /* margin-left: 10px; */
}
.img-bio img{
    width: 100%;
    margin-top: -30px;
}
.name-bio h3{
    font-weight: bolder;
    color: #145251;
    text-transform: uppercase;
    margin-top: 90px;
}
.name-bio h5{
    /* font-weight: bold; */
    color: #000;
    text-transform: uppercase;
    margin-top: 90px;
}
.name-bio h6{
    /* font-weight: bold; */
    color: #000;
    text-transform: uppercase;
    /* margin-top: 20px; */
    /* margin-bottom: -50px; */
}
.bio-footer{
    height: 20px;
    background-color: #d9ba79;
    margin: 0;
}
.bio-footer-2{
    height: 20px;
    background-color: #000;
    margin: 0;
}